/src/Pixsys.Library.Media.ImageManager/.build/CakeRelease/
/src/Pixsys.Library.Media.ImageManager/.vs/
/src/Pixsys.Library.Media.ImageManager/Pixsys.Library.Media.ImageManager/bin/
/src/Pixsys.Library.Media.ImageManager/Pixsys.Library.Media.ImageManager/obj/
/src/Pixsys.Library.Media.ImageManager/.config/CakeRelease.settings.json
